@{
    ViewBag.Title = "Nuevo Artista";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nuevo Artista</h6>
        </div>
        <div class="card-body">
            <div>
                <p>
                    <a href="/Artist" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Volver</span>
                    </a>
                </p>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tr>
                        <td>Nombre    </td>
                        <td><input data-bind="textInput: FirstName" />
                        <td />
                    </tr>
                    <tr>
                        <td>Apellido     </td>
                        <td><input data-bind="textInput: LastName" />
                        <td />
                    </tr>
                    <tr>
                        <td>Esperanza de vida     </td>
                        <td><input data-bind="textInput: LifeSpan" />
                        <td />
                    </tr>
                    <tr>
                        <td>País      </td>
                        <td><input data-bind="textInput: Country" />
                        <td />
                    </tr>
                    <tr>
                        <td>Descripción  </td>
                        <td><input data-bind="textInput: Description" />
                        <td />
                    </tr>
                    <tr>
                        <td>Total de productos</td>
                        <td><input data-bind="textInput: TotalProducts" />
                        <td />
                    </tr>
                </table>
                <input type="button" value="Confirmar" data-bind="click: AddArtist" class="btn btn-success" />

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

@section Scripts {
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <script>
        var appViewModel = function () {
            var self = this;

            self.FirstName = ko.observable('');
            self.LastName = ko.observable('');
            self.LifeSpan = ko.observable('');
            self.Country = ko.observable('');
            self.Description = ko.observable('');
            self.TotalProducts = ko.observable('');

            self.AddArtist = function () {
                $.ajax({
                    url: '@Url.Action("AddArtist", "Artist")',
                    type: 'post',
                    data: ko.toJSON(this),
                    contentType: 'application/json',
                    success: function (result) {
                        self.FirstName('');
                        self.LastName('');
                        self.LifeSpan('');
                        self.Country('');
                        self.Description('');
                        self.TotalProducts('');
                    }
                }).fail(
                    function (xhr, textStatus, err) {
                        alert(err);
                    });
            };
        }

        var viewModel = new appViewModel();
        ko.applyBindings(viewModel);
    </script>
}
