@{

    var id = Request.Url.Segments.Last();
    ViewBag.Title = "Editar Artista";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Editar Artista</h6>
        </div>
        <div class="card-body">
            <div>
                <p>
                    <a href="/Artist" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Volver</span>
                    </a>
                </p>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tr>
                        <td>Nombre    </td>
                        <td><input data-bind="value: Artist.FirstName" />
                        <td />
                    </tr>
                    <tr>
                        <td>Apellido     </td>
                        <td><input data-bind="value: Artist.LastName" />
                        <td />
                    </tr>
                    <tr>
                        <td>Esperanza de vida     </td>
                        <td><input data-bind="value: Artist.LifeSpan" />
                        <td />
                    </tr>
                    <tr>
                        <td>País      </td>
                        <td><input data-bind="value: Artist.Country" />
                        <td />
                    </tr>
                    <tr>
                        <td>Descripción  </td>
                        <td><input data-bind="value: Artist.Description" />
                        <td />
                    </tr>
                    <tr>
                        <td>Total de productos</td>
                        <td><input data-bind="value: Artist.TotalProducts" />
                        <td />
                    </tr>
                </table>
                <input type="button" value="Guardar" data-bind="click: EditArtist" class="btn btn-success" />

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

@section scripts
{
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <script>

        var AppViewModel = function (data) {

            var self = this;

            Artist = {
                Id: ko.observable(),
                FirstName : ko.observable(),
                LastName : ko.observable(),
                LifeSpan : ko.observable(),
                Country : ko.observable(),
                Description : ko.observable(),
                TotalProducts: ko.observable()
            }

            var idArtista =@id;

            $.getJSON("/Artist/GetArtist/" + idArtista, function (data) {

                ko.mapping.fromJS(data);
                Artist.Id(data.Id)
                Artist.FirstName(data.FirstName);
                Artist.LastName(data.LastName);
                Artist.LifeSpan(data.LifeSpan);
                Artist.Country(data.Country);
                Artist.Description(data.Description);
                Artist.TotalProducts(data.TotalProducts);
            });
            console.log(this.Artist);

            self.EditArtist = function (data) {

                console.log(Artist);
                $.ajax({
                    url: '@Url.Action("EditArtist", "Artist")',
                    type: 'GET',
                    data: Artist,
                    contentType: 'application/json',
                    success: function (result) {

                       window.location = "/Artist";
                    }
                }).fail(
                    function (xhr, textStatus, err) {
                        alert(err);
                    });
            };

        }
        var viewModel = new AppViewModel();
        ko.applyBindings(viewModel);

    </script>

}