
@{
    ViewBag.Title = "Gestion de Artistas";
}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listado de artistas</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <p>
                    <a data-bind="attr: { 'href': '@Url.Action("Create", "Artist")'  }" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fa fa-plus"></i>
                        </span>
                        <span class="text">Nuevo Artista</span>
                    </a>
                </p>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="display:none;">Id    </th>
                                <th>Nombre    			  </th>
                                <th>Apellido     		  </th>
                                <th>Esperanza de vida     </th>
                                <th>País      			  </th>
                                <th>Descripción  		  </th>
                                <th>Total de productos    </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th style="display:none;">Id    </th>
                                <th>Nombre    			  </th>
                                <th>Apellido     		  </th>
                                <th>Esperanza de vida     </th>
                                <th>País      			  </th>
                                <th>Descripción  		  </th>
                                <th>Total de productos    </th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                        <tbody data-bind="foreach: Artists">
                            <tr>
                                <td style="display:none;" data-bind='text: Id'></td>
                                <td data-bind='text: FirstName'></td>
                                <td data-bind='text: LastName'></td>
                                <td data-bind='text: LifeSpan'></td>
                                <td data-bind='text: Country'></td>
                                <td data-bind='text: Description'></td>
                                <td data-bind='text: TotalProducts'></td>
                                <td>
                                    <a data-bind="attr: { 'href': '@Url.Action("Edit", "Artist")/' + Id() }" class="btn btn-secondary">Editar</a>
                                    <input data-bind="click: $parent.RemoveArtist" type="button" value="Eliminar" class="btn btn-danger" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

@section scripts
{
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <script>
        var appViewModel = function () {
            var artist = {
                Id: ko.observable(),
                FirstName: ko.observable(),
                LastName: ko.observable(),
                LifeSpan: ko.observable(),
                Country: ko.observable(),
                Description: ko.observable(),
                TotalProducts: ko.observable()
            }
            this.RemoveArtist = this.RemoveArtist.bind(this);
            var self = this;
            self.Artists = ko.mapping.fromJS([]);
            $.getJSON("Artist/GetArtists", function (data) {
                ko.mapping.fromJS(data, artist, self.Artists);
            });
        };

        appViewModel.prototype.RemoveArtist = function (data) {
            var self = this;
            if (confirm('Desea Eliminar el artista ' + data.FirstName() + ' ' + data.LastName() + '?')) {
                $.ajax({
                    type: 'GET',
                    url: 'Artist/RemoveArtist/' + data.Id(),
                    success: function (result) {
                        console.log(self.Artists);
                        self.Artists.remove(data);
                    }
                }).fail(
                    function (xhr, textStatus, err) {
                        alert(err);
                    });
            } else {

            }
        };

        // Apply bindings
        ko.applyBindings(new appViewModel());
    </script>
}

