
@{
    ViewBag.Title = "Gestion de Artistas";
}


<div class="container-fluid">

    <table class="table table-hover">
        <thead>
            <tr>
                <th data-visible="false">Id    </th>
                <th>FirstName    </th>
                <th>LastName     </th>
                <th>LifeSpan     </th>
                <th>Country      </th>
                <th>Description  </th>
                <th>TotalProducts</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Artists">
            <tr>
                <th data-bind="text: Id"></th>
                <th data-bind="text: FirstName"></th>
                <th data-bind="text: LastName"></th>
                <th data-bind="text: LifeSpan"></th>
                <th data-bind="text: Country"></th>
                <th data-bind="text: Description"></th>
                <th data-bind="text: TotalProducts"></th>
                <th>
                    <input data-bind="click: $parent.RemoveArtist" type="button" value="Eliminar" class="btn btn-primary" />
                </th>
            </tr>
        </tbody>
    </table>
</div>

<div>
    @Html.ActionLink("Crear artista", "Create")
</div>

@section scripts
{
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <script>
        var appViewModel = function () {
            var artist = {
                Id: ko.observable(),
                FirstName: ko.observable(),
                LastName: ko.observable(),
                LifeSpan: ko.observable(),
                Country: ko.observable(),
                Decription: ko.observable(),
                TotalProducts: ko.observable()
            }
            this.RemoveArtist = this.RemoveArtist.bind(this);
            var self = this;
            self.Artists = ko.mapping.fromJS([]);
            $.getJSON("Artist/GetArtists", function (data) {
                ko.mapping.fromJS(data, artist, self.Artists);
            });
        };

        appViewModel.prototype.RemoveArtist = function (data) {
            var self = this;
            $.ajax({
                type: 'GET',
                url: 'Artist/RemoveArtist/' + data.Id(),
                success: function (result) {
                    console.log(self.Artists);
                    self.Artists.remove(data);
                }
            }).fail(
                function (xhr, textStatus, err) {
                    alert(err);
                });
        };

        // Apply bindings
        ko.applyBindings(new appViewModel());
    </script>
}

