
@{
    ViewBag.Title = "Artistas";
}

<!-- Main Content -->
<div id="content">
    <div class="container-fluid">
        <!-- Content Row -->
        <div class="row" data-bind="foreach: Artists">
            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" data-bind="text: LastName() + ', ' + FirstName()"></h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="~/Content/img/Artista1.png" alt="">
                        </div>
                        <p data-bind="text: 'LifeSpan: ' + LifeSpan()" />
                        <p data-bind="text: 'Country: '+ Country()" />
                        <p data-bind="text: 'Description: '+ Description()" />
                    </div>
                </div>

                <!-- Approach -->


            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <script>
        var appViewModel = function () {
            var artist = {
                Id: ko.observable(),
                FirstName: ko.observable(),
                LastName: ko.observable(),
                LifeSpan: ko.observable(),
                Country: ko.observable(),
                Description: ko.observable(),
                TotalProducts: ko.observable()
            }
            var self = this;
            self.Artists = ko.mapping.fromJS([]);
            $.getJSON("/Artist/GetArtists", function (data) {
                ko.mapping.fromJS(data, artist, self.Artists);
            });
        };

        // Apply bindings
        ko.applyBindings(new appViewModel());
    </script>
}