@{
    ViewBag.Title = "About";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Acerca de ArtShop</h6>
    </div>
    <div class="card-body">

        <p>
            ARTSHOP es una pequeña empresa con sede en Buenos Aires, Argentina. Durante más de 3 años, la marca ha comercializado replicas de pinturas manuales. Con representantes en todo el país, comercializa obras de arte innovadoras para decoracion del hogar.
        </p>

        <p>
            ARTSHOP posee la mejor relación precio-calidad. Creado por un gran grupo de amantes de las obras de arte, para llevar a nuestros clientes calidad confiable y servicio de primera clase.
        </p>
       
    </div>
</div>


