@{
    ViewBag.Title = "Home Page";
}

    <div class="container-fluid">
         

        <!-- Main Content -->
        <div id="content">
            <div class="container-fluid">
                <!-- Content Row -->
                <div class="row">
                    <div class="col-lg-6 mb-4">

                        <!-- Illustrations -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Agregada recientemente    </h6>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="~/Content/img/Obra1.png" alt="">
                                  
                                </div>
                                <p>
                                    Whatever, 2019. Harold Westerink, Países Bajos
                                </p>
                                <a target="_blank" rel="nofollow" href="https://undraw.co/">Ver todas las Pinturas &rarr;</a>
                            </div>
                        </div>

                        <!-- Approach -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Novedades</h6>
                            </div>
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sociosqu cursus, metus rhoncus enim phasellus tristique eget donec vehicula. </p>
                                <p class="mb-0">
                                    Accumsan lacus placerat vel tristique convallis volutpat fermentum, litora euismod pellentesque faucibus luctus neque id arcu, velit nisi vestibulum bibendum augue est. Mus maecenas habitant per sociosqu metus ornare gravida aliquet, placerat feugiat lobortis nec condimentum dictum sapien elementum facilisis,
                                    sodales penatibus fringilla platea pellentesque curae vehicula..
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 mb-4">

                        <!-- Illustrations -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Próximamente en nuestra tienda</h6>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="~/Content/img/Obra2.png" alt="">
                                </div>
                                <p>
                                    New Orleans, 2013. Giuseppe Laudani, Italia.
                                </p>
                                <a target="_blank" rel="nofollow" href="https://undraw.co/">Ver todas las Pinturas  &rarr;</a>
                            </div>
                        </div>

                        <!-- Approach -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Próximos Eventos</h6>
                            </div>
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sociosqu cursus, metus rhoncus enim phasellus tristique eget donec vehicula. </p>
                                <p class="mb-0">
                                    Accumsan lacus placerat vel tristique convallis volutpat fermentum, litora euismod pellentesque faucibus luctus neque id arcu, velit nisi vestibulum bibendum augue est. Mus maecenas habitant per sociosqu metus ornare gravida aliquet, placerat feugiat lobortis nec condimentum dictum sapien elementum facilisis,
                                    sodales penatibus fringilla platea pellentesque curae vehicula..
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>