@using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()



                    @Html.ActionLink(User.Identity.GetUserName() + " ", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "dropdown-item" })
               
               <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"> <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>Cerrar sesión</a>
           
        }
    }
    else
    {
        
            @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "dropdown-item" })
           @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "dropdown-item" })
       
    }






