
@{
    ViewBag.Title = "Editar Pintura";
}

<h2>Editar</h2>

<table class="table table-hover">
    <tr>
        <td>Título    </td>
        <td><input data-bind="textInput: Title" />
        <td />
    </tr>
    <tr>
        <td>Descripción    </td>
        <td><input data-bind="textInput: Description" />
        <td />
    </tr>
    <tr>
        <td>Imagen     </td>
        <td><input type="file" data-bind="textInput: Image" />
        <td />
    </tr>
    <tr>
        <td>Precio      </td>
        <td><input data-bind="textInput: Price" />
        <td />
    </tr>
    <tr>
        <td>Artista     </td>
        <td>
            <select data-bind="
                    options: Artists,
                    optionsText:'FirstName',
                    optionsValue: 'Id',
                    value:art ">
            </select>

        </td>
    </tr>

</table>

<input type="button" value="Guardar" data-bind="click: AddProduct" class="btn btn-primary" />

<div>
    @Html.ActionLink("Volver", "Index")
</div>