@{
    ViewBag.Title = "Galería de Pinturas";
}

<!-- Main Content -->
<div id="content">
    <div class="container-fluid">

        <div class="row" data-bind="foreach: Products">

            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" data-bind="text: Title" />
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" data-bind="attr:{src: '/Content/img/product/'+Image()}" alt="">
                        </div>


                        <p data-bind="text: 'Precio: $'+Price()" />
                        <p data-bind="text: 'Artista: '+ Artist.FirstName() + ' '+ Artist.LastName()" />
                        <p><a data-bind="attr: { href: 'Ver/'+Id(), title: Title }">Detalles</a></p>

                        <input data-bind="click: $parent.Agregar.bind($data,Id())" type="button" value="Agregar al Carrito" class="btn btn-primary" data-target="#confirmacion" data-toggle="modal"/>

                 

                    </div>
                </div>
            </div>


        </div>

        <!-- Modal -->
        <div class="modal fade" id="confirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Pintura agregada al Carrito
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Seguir comprando</button>
                        <a href="/Cart/Index" class="btn btn-success">Ver Carrito</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section scripts
{
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <script>
        var AppViewModel = function () {
            var self = this;
            self.Products = ko.mapping.fromJS([]);
            $.getJSON("/Product/GetProducts",
                function (data) {
                    ko.mapping.fromJS(data, {}, self.Products);
                });
        };
        AppViewModel.prototype.Agregar = function (data) {

           
            $.ajax({
                type: 'GET',
                url: '/Cart/AddToCart/' + data,
                success: function (result) {
                    Actualizar();
                  
                }
            }).fail(
                function (xhr, textStatus, err) {

                });

        };
        var viewModel = new AppViewModel();
        ko.applyBindings(viewModel);
    </script>

}