
@{
    ViewBag.Title = "Galería de Pinturas";
}

<!-- Main Content -->
<div id="content">
    <div class="container-fluid">
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Pintura 1</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">

                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="~/Content/img/Obra2.png" alt="">
                        </div>
                        <p>Precio: $80.000</p>
                        <p>Artista: Artista Prueba</p>
                        <a target="_blank" rel="nofollow" href="https://undraw.co/">Agregar al carrito &rarr;</a>
                    </div>
                </div>

                <!-- Approach -->


            </div>
            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Pintura 2</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="~/Content/img/Obra1.png" alt="">
                        </div>
                        <p>Precio: $50.000</p>
                        <p>Artista: Artista Prueba</p>
                        <a target="_blank" rel="nofollow" href="https://undraw.co/">Agregar al carrito &rarr;</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Pintura 3</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="~/Content/img/Obra3.png" alt="">
                        </div>
                        <p>Precio: $40.000</p>
                        <p>Artista: Artista Prueba</p>
                        <a target="_blank" rel="nofollow" href="https://undraw.co/">Agregar al carrito &rarr;</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Pintura 4</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="~/Content/img/Obra4.png" alt="">
                        </div>
                        <p>Precio: $50.000</p>
                        <p>Artista: Artista Prueba</p>
                        <a target="_blank" rel="nofollow" href="https://undraw.co/">Agregar al carrito &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
