
@{
    ViewBag.Title = "Gestión de Pinturas";
}


<h2>Pinturas</h2>

<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Imagen</th>
        <th>Precio</th>
        <th>Artista</th>
        <th>Acciones</th>

    </tr>
    <tbody data-bind="foreach: Products">
        <tr>
            <td data-bind="text: Id"></td>
            <td data-bind="text: Title"></td>
            <td data-bind="text: Description"></td>
            <td data-bind="text: Image"></td>
            <td data-bind="text: Price"></td>
            <td data-bind="text: Artist"></td>
            <td>Editar Eliminar</td>
        </tr>
    </tbody>
</table>

<div>
    @Html.ActionLink("Nueva Pintura", "Create")
</div>

@section scripts
{
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <script>
        var AppViewModel = function () {
            var self = this;
            self.Products = ko.mapping.fromJS([]);

            $.getJSON("/Product/GetProducts",
                function (data) {
                    ko.mapping.fromJS(data, {}, self.Products);
                });
        }

        var viewModel = new AppViewModel();
        ko.applyBindings(viewModel);

    </script>

}