
@{
    var id = Request.Url.Segments.Last();
    ViewBag.Title = "Detalles de la Pintura";
}
<h3>Detalles de la Pintura</h3>

<!-- Main Content -->
<div id="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" data-bind="text: Product.Title" />
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" data-bind="attr:{src: '../../Content/img/product/'+Product.Image()}" alt="">
                        </div>
                        <p data-bind="text: Product.Description" />

                        <p data-bind="text: 'Precio: $'+Product.Price()" />
                        @*<p data-bind="text: 'Artista: '+ Product.Artist.FirstName() + ' '+ Product.Artist.LastName()" />*@
                        <a target="_blank" rel="nofollow" href="https://undraw.co/">Agregar al carrito &rarr;</a>
                        <p><a href="#">Agregar al carrito &rarr;</a><i class="fas fa-shopping-cart"></i></p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            @Html.ActionLink("Volver", "IndexFront")
        </div>

    </div>
</div>



@section scripts
{
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <script>

        var AppViewModel = function (data) {

            var self = this;
            self.Artists = ko.observableArray([]);

            Product = {
            Id: ko.observable(),
            Title : ko.observable(),
            Description : ko.observable(),
            Image : ko.observable(),
            Price : ko.observable(),
            art : ko.observable(),

            }

            var idPintura =@id;

            $.getJSON("/Product/GetProduct/"+idPintura, function (data) {

                ko.mapping.fromJS(data);
                Product.Id(data.Id)
                Product.Title(data.Title);
                Product.Description(data.Description);
                Product.Image(data.Image);
                Product.Price(data.Price);
               Product.art(data.art);
            });
            console.log(this.Product);




        }
        var viewModel = new AppViewModel();
        ko.applyBindings(viewModel);




    </script>

}